<?xml version="1.0"?>
<config>
	<modules>
		<MagnifyStudio_PriceAdjust>
			<version>0.1.0</version>
		</MagnifyStudio_PriceAdjust>
	</modules>
	<admin>
		<routers>
			<priceadjust>
				<use>admin</use>
				<args>
					<module>MagnifyStudio_PriceAdjust</module>
					<frontName>priceadjust</frontName>
				</args>
			</priceadjust>
			<adminhtml>
				<args>
					<modules>
						<MagnifyStudio_PriceAdjust before="Mage_Adminhtml">MagnifyStudio_PriceAdjust</MagnifyStudio_PriceAdjust>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<models>
			<priceadjust>
				<class>MagnifyStudio_PriceAdjust_Model</class>
				<resourceModel>priceadjust_mysql4</resourceModel>
			</priceadjust>
			<priceadjust_mysql4>
				<class>MagnifyStudio_PriceAdjust_Model_Mysql4</class>
				<entities>
					<priceadjust>
						<table>priceadjust</table>
					</priceadjust>
				</entities>
			</priceadjust_mysql4>
		</models>	
		<resources>
			<priceadjust_setup>
				<setup>
					<module>MagnifyStudio_PriceAdjust</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</priceadjust_setup>
			<priceadjust_write>
				<connection>
					<use>core_write</use>
				</connection>
			</priceadjust_write>
			<priceadjust_read>
				<connection>
					<use>core_read</use>
				</connection>
			</priceadjust_read>
		</resources>
		<helpers>
			<priceadjust>
				<class>MagnifyStudio_PriceAdjust_Helper</class>
			</priceadjust>
		</helpers>
	</global>
	<adminhtml>
	<events>
		<core_block_abstract_prepare_layout_before>
			<observers>
				<priceadjust_core_block_abstract_prepare_layout_before>
					<class>priceadjust/observer</class>
					<method>addMassAction</method>
				</priceadjust_core_block_abstract_prepare_layout_before>
			</observers>
		</core_block_abstract_prepare_layout_before>
	</events>
		<layout>
			<updates>
				<priceadjust>
					<file>magnifystudio_priceadjust.xml</file>
				</priceadjust>
			</updates>
		</layout>
	</adminhtml>
</config>
